<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HumSense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>HumSense Dashboard - created by njiloDev</h1>
            <p>Real-time temperature and humidity monitoring</p>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Temperature</div>
                    <div class="panel-body">
                        <h2 id="temperature">-- °C</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Humidity</div>
                    <div class="panel-body">
                        <h2 id="humidity">-- %</h2>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Bus Voltage</div>
                    <div class="panel-body">
                        <h2 id="busvolts">-- V</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Current</div>
                    <div class="panel-body">
                        <h2 id="current">-- mA</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Shunt Volts</div>
                    <div class="panel-body">
                        <h2 id="shVolts">-- </h2>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p id="timestamp" class="text-muted">Last updated: --:--:--</p>
            </div>
        </div>
    </div>

    <!-- Include scripts at the end of the body for better page load performance -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>