<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HumSense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
        integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container cont">
        <div class="header ">
            <h1>HumSense</h1>
            <p>Willcom Projects</p>
        </div>

        <div id="statusBox">
            RPI Status: <span id="mode-led" class="led red"></span>
        </div>

        <div class="card-container">
            <div class="card temp">
                <div class="card-title">Temperature</div>
                <div class="card-data">
                    <h2 id="temperature">-- °C</h2>
                </div>
            </div>

            <div class="card hum">
                <div class="card-title">Humidity</div>
                <div class="card-data">
                    <h2 id="humidity">-- %</h2>
                </div>
            </div>

            <div class="card bus">
                <div class="card-title">Bus Voltage</div>
                <div class="card-data">
                    <h2 id="busvolts">-- V</h2>
                </div>
            </div>

            <div class="card curr">
                <div class="card-title">Current</div>
                <div class="card-data">
                    <h2 id="current">-- mA</h2>
                </div>
            </div>

            <div class="card shv">
                <div class="card-title">Shunt Volts</div>
                <div class="card-data">
                    <h2 id="shVolts">--</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="chartDiv">
                    <canvas id="tempChart"></canvas>
                </div>
                <div class="chartDiv">
                    <canvas id="humChart"></canvas>
                </div>
            </div>

            <div class="row">
                <div class="chartDiv">
                    <canvas id="busChart"></canvas>
                </div>
                <div class="chartDiv">
                    <canvas id="curChart"></canvas>
                </div>
            </div>

            <div class="row">
                <div class="chartDiv">
                    <canvas id="shvChart"></canvas>
                    <!-- This chart is alone in its row but will still take 48% width -->
                </div>
            </div>
        </div>

        <footer>
            <img src="{{ url_for('static', filename='images/wc-logo.png') }}" alt="Willcom Logo" class="footer-logo">
            <div class="timestamp">Last updated: <span id="lastUpdated">Loading...</span></div>
        </footer>

        <!-- Include scripts at the end of the body for better page load performance -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='charts.js') }}"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>

        </script>
</body>

</html>